<a href="https://colab.research.google.com/github/gowtham777y/Decision-Tree/blob/main/Decision_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("AdultIncome.csv")
df

       age        wc      education  ...   gender hours per week IncomeClass
0       38   Private        HS-grad  ...     Male             40       <=50K
1       28   Private      Bachelors  ...   Female             40       <=50K
2       37   Private        Masters  ...   Female             40       <=50K
3       31   Private        Masters  ...   Female             50        >50K
4       42   Private      Bachelors  ...     Male             40        >50K
...    ...       ...            ...  ...      ...            ...         ...
19782   53   Private        Masters  ...     Male             40        >50K
19783   22   Private   Some-college  ...     Male             40       <=50K
19784   40   Private        HS-grad  ...     Male             40        >50K
19785   58   Private        HS-grad  ...   Female             40       <=50K
19786   22   Private        HS-grad  ...     Male             20       <=50K

[19787 rows x 8 columns]

In [3]:
df.isnull().sum()

age               0
wc                0
education         0
marital status    0
race              0
gender            0
hours per week    0
IncomeClass       0
dtype: int64

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
le=LabelEncoder()

In [17]:
df["wc"]=le.fit_transform(df["wc"])

In [11]:
df["education"]=le.fit_transform(df["education"])
df["marital status"]=le.fit_transform(df["marital status"])
df["race"]=le.fit_transform(df["race"])
df["gender"]=le.fit_transform(df["gender"])
df["IncomeClass"]=le.fit_transform(df["IncomeClass"])
df

       age  wc  education  ...  gender  hours per week  IncomeClass
0       38   3          2  ...       1              40            0
1       28   3          0  ...       0              40            0
2       37   3          3  ...       0              40            0
3       31   3          3  ...       0              50            1
4       42   3          0  ...       1              40            1
...    ...  ..        ...  ...     ...             ...          ...
19782   53   3          3  ...       1              40            1
19783   22   3          6  ...       1              40            0
19784   40   3          2  ...       1              40            1
19785   58   3          2  ...       0              40            0
19786   22   3          2  ...       1              20            0

[19787 rows x 8 columns]

In [12]:
x=df.drop(columns="IncomeClass").values
y=df["IncomeClass"].values
x

array([[38,  3,  2, ...,  4,  1, 40],
       [28,  3,  0, ...,  2,  0, 40],
       [37,  3,  3, ...,  4,  0, 40],
       ...,
       [40,  3,  2, ...,  4,  1, 40],
       [58,  3,  2, ...,  4,  0, 40],
       [22,  3,  2, ...,  4,  1, 20]])

In [13]:
y

array([0, 0, 0, ..., 1, 0, 0])

In [14]:
from sklearn.model_selection import train_test_split

In [18]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [19]:
from sklearn.tree import DecisionTreeClassifier

In [20]:
dtc=DecisionTreeClassifier(random_state=0)

In [21]:
dtc.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [22]:
y_pred=dtc.predict(x_test)

In [23]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [24]:
cm=confusion_matrix(y_test,y_pred)
cm

array([[2513,  365],
       [ 503,  577]])

In [26]:
accuracy_score(y_test,y_pred)*100

78.06973218797373

In [28]:
dtc.score(x_test,y_test) *100

78.06973218797373